body
{
    background-color: #0B1215;
    color: #F0F8FF;
    font-size: 100%;
}

.navi:hover
{
    transition: transform 0.3s ease-in-out;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-style: wavy;
}

.link:hover
{
    transition: transform 0.3s ease-in-out;
    color: blue;
}

img
{
    border-radius: 5%;
    transition: all 0.3s ease;
}

.round
{
    border-radius: 5%;
}

.zoom-in:hover
{
    transform: scale(1.09);
    transition: transform 0.3s ease-in-out;
    cursor: zoom-in;
}

#pic
{
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fade-out
{
    opacity: 0;
}

.cta-button
{
  background-color: #ff5e57;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.cta-button:hover
{
  background-color: blue;
  transform: scale(2.0);
}

.nolink
{
    text-decoration: none;
}

.sharp
{
    border-radius: 0px;
}

.navbar1
{
    background-color: #0a0104;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 15px;
    text-align: center;
    padding-top: 1.75%;
}

.cta-button
{
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
    text-decoration: none;
    color: #0B1215;
}

.nav1
{
    font-size: large;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #F0F8FF;
}

.top-add
{
    padding-top: 3%;
}

.top-add2
{
    padding-top: 5%;
}


.bottom-add
{
    padding-bottom: 3%;
}

.justify
{
    text-align: justify;
}

.center
{
    text-align: center;
}

.left
{
    text-align: left;

}

.right
{
    text-align: right;

}

.small-img
{
    width: 30%;
}

.timeline-container
{
    position: relative;
    padding-left: 30px;
    border-left: 3px solid #0d6efd;
}

.timeline-item
{
    position: relative;
    margin-bottom: 2rem;
}

.timeline-item:hover .timeline-content
{
    background-color: #0B1215;
}

.timeline-dot
{
    position: absolute;
    left: -41px;
    top: 0;
    width: 20px;
    height:20px;
    background-color: #0d6efd;
    border-radius: 50%;
    border: 3px solid white;
    z-index: 1;
    box-shadow: 0 0 0 2px #0d6efd;
}

.timeline-content
{
    margin-left: 20px;
}

.timeline-content h5
{
    margin-top: 0;
    font-weight: bold;
}

.card-header
{
    background-color: #0B1215;
    color: #F0F8FF;
    border: 1.3px solid rgba(150, 150, 150, 0.5);
}

.card-footer
{
    background-color: #0B1215;
    color: #F0F8FF;
    text-align: center;
    text-decoration: none;
}

.project-card
{
    background-color: #F0F8FF;
    color: #0B1215;
    border: none;
}

.project-item
{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.project-item.show
{
    opacity: 1;
}
